<div class="elevated-block" [class.sunken]="item.isDone">
    <div class="left">
        <label for="done" class="checkbox-container">
            <input type="checkbox"
            class="checkbox"
            name="done"
            id="done"
            (change)="updateCheckedStatus()"
            [checked]="item.isDone">
        </label>
        <hr class="vertical-separator">
        <div>
            <p class="description">{{item.name}}</p>
            <small class="date">{{ item.date | time }}</small>
        </div>
    </div>

    <div class="right">
        <hr  *ngIf="!item.isDone" class="vertical-separator">
        <div *ngIf="!item.isDone" class="actions-container">
            <a role="button" (click)="deleteItem()" class="inline-button">
                <ion-icon name="close-circle-outline"></ion-icon>
            </a>
            <a role="button" (click)="updateItem()" class="inline-button">
                <ion-icon name="create-outline"></ion-icon>
            </a>
        </div>
    </div>
</div>