<ion-content [fullscreen]="true">

  <section>
    <h1>todo:</h1>

    <app-input
      [itemToEdit]="itemToEdit"
      (onCreateItem)="createItem($event)"
      (onEditItem)="updateItem($event)">
    </app-input>

    @if(todoList && todoList.items.length) {
      <ul>
        @for(item of todoList.items; track $index) {
          <li>
            <app-item
              [item] = "item"
              (onEditItem)="setITemToEdit($event)"
              (onDeleteItem)="deleteItem($event)"
              (onToggleItemStatus)="updateCheckedStatus($event)"
            ></app-item>
          </li>
        }
      </ul>
    }
    @else {
      <div class="empty-items-info-container">
        <span class="empty-list-info">Não há itens na lista.</span>
      </div>
    }

  </section>

</ion-content>
