<ion-content [fullscreen]="true">
<!-- 
  <div class="test-bed">

    <div class="test-subject elevated elevated-xs"></div>
    <div class="test-subject elevated elevated-sm"></div>
    <div class="test-subject elevated elevated-md"></div>
    <div class="test-subject elevated elevated-lg"></div>
    <div class="test-subject elevated elevated-xl"></div>
    <div class="test-subject inset inset-xs"></div>
    <div class="test-subject inset inset-sm"></div>
    <div class="test-subject inset inset-md"></div>
    <div class="test-subject inset inset-lg"></div>

    <div class="test-subject inset hole"></div>

  </div>


  <div class="test-bed">

    <div class="test-subject circle elevated elevated-xs"></div>
    <div class="test-subject circle elevated elevated-sm"></div>
    <div class="test-subject circle elevated elevated-md"></div>
    <div class="test-subject circle elevated elevated-lg"></div>
    <div class="test-subject circle elevated elevated-xl"></div>
    <div class="test-subject circle inset inset-xs"></div>
    <div class="test-subject circle inset inset-sm"></div>
    <div class="test-subject circle inset inset-md"></div>
    <div class="test-subject circle inset inset-lg"></div>

    <div class="test-subject circle hole"></div>

  </div>

  <div class="test-bed">

    <div class="test-subject glowing elevated elevated-xs"></div>
    <div class="test-subject glowing elevated elevated-sm"></div>
    <div class="test-subject glowing elevated elevated-md"></div>
    <div class="test-subject glowing elevated elevated-lg"></div>
    <div class="test-subject glowing elevated elevated-xl"></div>
    <div class="test-subject glowing inset inset-xs"></div>
    <div class="test-subject glowing inset inset-sm"></div>
    <div class="test-subject glowing inset inset-md"></div>
    <div class="test-subject glowing inset inset-lg"></div>

    <div class="test-subject glowing hole"></div>

  </div>


  <div class="test-bed">

    <div class="test-subject circle glowing elevated elevated-xs"></div>
    <div class="test-subject circle glowing elevated elevated-sm"></div>
    <div class="test-subject circle glowing elevated elevated-md"></div>
    <div class="test-subject circle glowing elevated elevated-lg"></div>
    <div class="test-subject circle glowing elevated elevated-xl"></div>
    <div class="test-subject circle glowing inset inset-xs"></div>
    <div class="test-subject circle glowing inset inset-sm"></div>
    <div class="test-subject circle glowing inset inset-md"></div>
    <div class="test-subject circle glowing inset inset-lg"></div>

    <div class="test-subject circle glowing hole"></div>

  </div>

  
  <div class="test-bed">

    <div class="test-subject floating floating-xs"></div>
    <div class="test-subject floating floating-sm"></div>
    <div class="test-subject floating floating-md"></div>
    <div class="test-subject floating floating-lg"></div>
    <div class="test-subject floating floating-xl"></div>

  </div>

  
  <div class="test-bed">

    <div class="test-subject glowing floating floating-xs"></div>
    <div class="test-subject glowing floating floating-sm"></div>
    <div class="test-subject glowing floating floating-md"></div>
    <div class="test-subject glowing floating floating-lg"></div>
    <div class="test-subject glowing floating floating-xl"></div>

  </div> -->


  
  
  
  
  <section>
    <h1>todo:</h1>

    <app-input
      [itemToEdit]="itemToEdit"
      (onCreateItem)="createItem($event)"
      (onEditItem)="updateItem($event)">
    </app-input>

    @if(todoList && todoList.items.length) {
      <ul>
        @for(item of todoList.items; track $index) {
          <li>
            <app-item
              [item] = "item"
              (onEditItem)="setITemToEdit($event)"
              (onDeleteItem)="deleteItem($event)"
              (onToggleItemStatus)="updateCheckedStatus($event)"
            ></app-item>
          </li>
        }
      </ul>
    }
    @else {
      <div class="empty-items-info-container">
        <span class="empty-list-info">Não há itens na lista.</span>
      </div>
    }

  </section>

</ion-content>
